
@import url('https://fonts.googleapis.com/css?family=Thasadith:400,700');

html {
	
}

nav{
	background-color: rgb(56, 100, 80);
	position:fixed;
	top:0;
	z-index:999;
} 

nav a {
	color:black;
	font-size:24px;
}

body  {
font-family:'Thasadith', sans-serif;
color: black;
background-image:url("https://images.unsplash.com/photo-1482062364825-616fd23b8fc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
background-attachment:fixed;
background-size:cover;
width:100%;
height:100%;
position:absolute;
margin-top:20px;
}


.background-img {
background-image:url("https://images.unsplash.com/photo-1482062364825-616fd23b8fc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
background-attachment:fixed;
background-size:cover;
width:100%;
height:100%;
position:absolute;
opacity:.2;
}


.intro {
margin:50px;
padding:75px;
align-content: center;
min-width:300px;
max-width:600px;
min-height:200px;

background-color:;
align-self:center;
margin-right:auto;
margin-left:auto;
text-align:center;
font-weight:bold;
background-color:white;
}

.headline {
font-weight:bold;
margin:10px;
}
.headline,h5 {
font-size:24px;
}


.avatar {
width:250px;
border-radius: 50%;
}
 
img {
	transition: all .2s ease-in-out;}

img:hover{
	transform: scale(1.1);}

}

h2 h5 {
	text-align:center ;
}

.grow {  }
.grow:hover { transform: scale(1.1); }

.jquery-img .css-img{
	width:100px !important;
}



img{
	position:relative;
}

.container-about {
	background-color:white;
	padding:20px;
	opacity:.99;
	text-align:center;
	font-size:32px;
	padding:;
}

button {
  background-color: white;
  color: black;
  border: 2px solid grey;
}

button:hover {
  background-color: grey; 
  color: white;
}

/* Skill Grid */

 .grid-container {

	padding:10px;
	justify-content:center;
	background-color:white;
}

.skills {
	padding-top:50px;
	grid-column-start:1;
	grid-column-end:5;
	text-align: center;
	font-weight:bold;

}

.skill-text{
	margin-left:auto;
	margin-right:auto;
	font-size:40px
}


.contact {
	background-color:white;
	text-align:center;
	font-weight:bold;
} 

.css-img{
	width:150px;
}
.bootstrap-img{
	margin-top:5%
	margin-left:5%;
}

img.node-img {
    margin-left: 10%;
}

img.jquery-img {
    margin-left: 10%;
}

img.bootstrap-img {
    margin-top: 5%;
    margin-left: 18%;
}

.card{
	width:75%;
	margin-left: auto;
    margin-right: auto;
}

.skill-text-2{
	padding-bottom:50px;
}
